html, body {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

body {
    background-image: url('./marvel-5-scaled.jpg');
    background-size: cover;
}

*, button, input, a {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}
#main__header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

#main__header > nav {
    display: flex;
    justify-content: space-between;
}

.details__box, #char__box {
    width: 80vw;
    height: 90vh;
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #ec1d24cc;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 10px;
}

#char__box > img {

    object-fit: contain;
    height: 60%;
}

.small__img {

    object-fit: contain;
    height: 60vh;
    border: 2px solid #FFF;
    border-radius: 10px;
}


button, .details__box > button, #char__box > button {
    width: 100px;
    height: 50px !important;
    text-align: center;
    border-radius: 10px;
    background-color: goldenrod;
    cursor: pointer;
}

